@charset "UTF-8";

body {
    background-color: #EBDF9C;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #524814;
}

h1#principal {
    text-align: center;
    font-size: 2.5em;
    background-color: #5C521D;
    color: #D1BA34;
}


h2 {
    color: #9E8C28;
}

.basico {
    color: #283a9e; 
}

.intermediario {
    color: #9e4028; 
}

.avancado {
    color: #289e38; 
}