@charset "UTF-8";

/* estilos para telas */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: rgb(43, 43, 43);
    color: white;
}

header h1 {
    padding: 10px;
    text-align: center;
}

menu {
    background-color: darkgrey;
}

ul {
    text-align: center;
}

li {
    display: block;
    display: inline-block;
    padding: 10px;
    background-color: lightgray;
    color: black;
    font-weight: bold;
}

main {
    padding-top: 20px;
    min-width: 400px;
    max-width: 600px;
    margin: auto;
    line-height: 1.3em;
    text-indent: 1.2em;
}

main h2 {
    text-align: center;
}

main p {
    padding: 5px;
}